        <section id="viewhotelDetails">
                <div class="profile"><img src="/img/profile.png" alt="default user">
                    <h3>User Info:</h3>
                    <div class="flex">
                        <p>Username: </p>
                        <p>{{user.username}}</p>
                    </div>
                    <div class="flex">
                        <p>Email: </p>
                        <p>{{user.email}}</p>
                    </div>
                    <div class="flex">
                        <p>Reservations: </p>
                        <p>
                          {{#each user.itemsIncremented}}
                            <span>{{hotel}},</span>
                          {{/each}}
                            {{!-- <span>Hilton Toronto, </span>
                            <span>Auckland Inn, </span>
                            <span>Hotel Berlin, </span> --}}
                        </p>
                    </div>
                </div>
        </section>

{{!-- <div class="user-info">
    <div>
        <p>Email: <span>{{user.email}}</span></p> |
        <p>My offers: <span>[{{user.myItems}}]</span></p> |
        <p><a href="/user/logout">Logout</a></p>
    </div>
    <div class="shoes">
        {{#each user.itemsIncremented}}
        <div class="shoe">
            <img
                src="{{imageUrl}}">
            <h3>{{name}}<span>${{price}}</span></h3>
        </div>
        {{/each}}
    </div>
    <p class="total-profit">Total cost: <span>${{total}}</span></p>
</div> --}}