{{!-- <div class="user-info">
    <div>
        <p>Email: <span>{{user.email}}</span></p> |
        <p>My offers: <span>[{{user.myItems}}]</span></p> |
        <p><a href="/user/logout">Logout</a></p>
    </div>
    <div class="shoes">
        {{#each user.itemsIncremented}}
        <div class="shoe">
            <img
                src="{{imageUrl}}">
            <h3>{{name}}<span>${{price}}</span></h3>
        </div>
        {{/each}}
    </div>
    <p class="total-profit">Total cost: <span>${{total}}</span></p>
</div> --}}